//
   Created by ABC on 3/4/2015.

form(action="/fileupload" method="post" enctype='multipart/form-data')
    |Upload image
    input(type="file" id="file" name="file")
    input(type="submit" value="Upload Image")
    br

